In [1]:
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
from sklearn import model_selection
import warnings
warnings.filterwarnings("ignore")

In [2]:
datatrain= pd.read_csv('C:/Users/Arthur/Desktop/DataScienceCours/Machine learning/Titanic/train.csv')

In [3]:
#Models to test
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier

In [4]:
#evaluate performances
from sklearn.metrics import make_scorer, accuracy_score 
from sklearn.model_selection import GridSearchCV

In [5]:
X = datatrain.drop(labels=["Survived","PassengerId"], axis=1) #define training features set
y = datatrain["Survived"] #define training label set

In [6]:
#Simple separation between training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                            test_size=0.2, random_state=0, stratify = y)

In [7]:
#Creating cross validation data splits
cv_sets = model_selection.StratifiedShuffleSplit(n_splits = 3, test_size = 0.20, random_state = 5)
cv_sets.get_n_splits(X_train, y_train)

3

In [15]:
svc_clf = SVC() 

parameters_svc = {"kernel": ["rbf", "linear"], "probability": [True, False]}

grid_svc = GridSearchCV(svc_clf, parameters_svc, scoring=make_scorer(accuracy_score), cv = cv_sets)
grid_svc.fit(X_train, y_train)

svc_clf = grid_svc.best_estimator_

svc_clf.fit(X_train, y_train)
pred_svc = svc_clf.predict(X_valid)
acc_svc = accuracy_score(y_valid, pred_svc)
print("The Score for SVC is: " + str(acc_svc))

In [ ]:
linsvc_clf = LinearSVC()

parameters_linsvc = {"fit_intercept": [True, False], "max_iter": [100, 500, 1000, 1500]}

grid_linsvc = GridSearchCV(linsvc_clf, parameters_linsvc, scoring=make_scorer(accuracy_score), cv = cv_sets)
grid_linsvc.fit(X_train, y_train)

linsvc_clf = grid_linsvc.best_estimator_

linsvc_clf.fit(X_train, y_train)
pred_linsvc = linsvc_clf.predict(X_test)
acc_linsvc = accuracy_score(y_test, pred_linsvc)

print("The Score for LinearSVC is: " + str(acc_linsvc))

In [8]:
#DecisionTreeClassifier 
DT_clf = DecisionTreeClassifier()

parameters_dt = {"max_depth": [2, 3, 5, 10],"min_samples_split": [2, 3, 5, 10], "max_features": ["auto", "sqrt", "log2"],
                 "criterion": ["gini", "entropy"] }

grid_dt = GridSearchCV(DT_clf, parameters_dt, scoring=make_scorer(accuracy_score), cv = cv_sets)
grid_dt.fit(X_train, y_train)

DT_clf = grid_dt.best_estimator_

DT_clf.fit(X_train, y_train)
pred_dt = DT_clf.predict(X_test)
acc_dt = accuracy_score(y_test, pred_dt)

print("The Score for DecisionTree is: " + str(acc_dt))

The Score for DecisionTree is: 0.8156424581005587

In [9]:
# Random Forest
rf_clf = RandomForestClassifier()

parameters_rf = {"n_estimators": [4, 5, 6, 7, 8, 9, 10, 15], "criterion": ["gini", "entropy"], "max_features": ["auto", "sqrt", "log2"], 
                 "max_depth": [2, 3, 5, 10], "min_samples_split": [2, 3, 5, 10]}

grid_rf = GridSearchCV(rf_clf, parameters_rf, scoring=make_scorer(accuracy_score), cv = cv_sets)
grid_rf.fit(X_train, y_train)

rf_clf = grid_rf.best_estimator_

rf_clf.fit(X_train, y_train)
pred_rf = rf_clf.predict(X_test)
acc_rf = accuracy_score(y_test, pred_rf)

print("The Score for Random Forest is: " + str(acc_rf))

The Score for Random Forest is: 0.8156424581005587

In [18]:
#Logistic Regression 
logreg_clf = LogisticRegression()

parameters_logreg = {"penalty": ["l2"], "fit_intercept": [True, False], "solver": ["newton-cg", "lbfgs", "liblinear", "sag", "saga"],
                     "max_iter": [50, 100, 200]}

grid_logreg = GridSearchCV(logreg_clf, parameters_logreg, scoring=make_scorer(accuracy_score), cv = cv_sets)
grid_logreg.fit(X_train, y_train)

logreg_clf = grid_logreg.best_estimator_

logreg_clf.fit(X_train, y_train)
pred_logreg = logreg_clf.predict(X_test)
acc_logreg = accuracy_score(y_test, pred_logreg)

print("The Score for Logistic Regression is: " + str(acc_logreg))

The Score for Logistic Regression is: 0.7877094972067039

In [19]:
#KNeighbors Classifier
knn_clf = KNeighborsClassifier()

parameters_knn = {"n_neighbors": [3, 5, 10, 15], "weights": ["uniform", "distance"], "algorithm": ["auto", "ball_tree", "kd_tree"],
                  "leaf_size": [20, 30, 50]}

grid_knn = GridSearchCV(knn_clf, parameters_knn, scoring=make_scorer(accuracy_score), cv = cv_sets)
grid_knn.fit(X_train, y_train)

knn_clf = grid_knn.best_estimator_

knn_clf.fit(X_train, y_train)
pred_knn = knn_clf.predict(X_test)
acc_knn = accuracy_score(y_test, pred_knn)

print("The Score for KNeighbors is: " + str(acc_knn))

The Score for KNeighbors is: 0.6927374301675978

In [22]:
#AdaBoost
AB_clf = AdaBoostClassifier(n_estimators = 200, random_state = 2)
parameters_AB = {'learning_rate': np.linspace(0.5, 2, 5)}
grid_ab = GridSearchCV(AB_clf, parameters_AB, scoring=make_scorer(accuracy_score), cv = cv_sets)
grid_ab.fit(X_train, y_train)

AB_clf = grid_ab.best_estimator_
pred_ab = AB_clf.predict(X_test)
acc_ab = accuracy_score(y_test, pred_ab)

grid_ab.best_params_
print("The Score for AdaBoost is: " + str(acc_ab))

The Score for AdaBoost is: 0.776536312849162

In [11]:
#GaussianNB
GNB_clf = GaussianNB()
GNB_clf.fit(X_train,y_train)

pred_gnb = GNB_clf.predict(X_test)
acc_gnb = accuracy_score(y_test, pred_gnb)


print("The Score for GaussianNB is: " + str(acc_gnb))

The Score for GaussianNB is: 0.7877094972067039

In [24]:
#Printing the predictions (CSV file) for the best model
bestmodel = rf_clf
rawtest = pd.read_csv('C:/Users/Arthur/Desktop/DataScienceCours/Machine learning/Titanic/raw_test.csv')
datatest= pd.read_csv('C:/Users/Arthur/Desktop/DataScienceCours/Machine learning/Titanic/test.csv')
datatest

     PassengerId  Pclass  Sex        Age      Fare  Size  Q  S
0              0       3    0  34.500000    7.8292   0.0  1  0
1              1       3    1  47.000000    7.0000   1.0  0  1
2              2       2    0  62.000000    9.6875   0.0  1  0
3              3       3    0  27.000000    8.6625   0.0  0  1
4              4       3    1  22.000000   12.2875   1.0  0  1
5              5       3    0  14.000000    9.2250   0.0  0  1
6              6       3    1  30.000000    7.6292   0.0  1  0
7              7       2    0  26.000000   29.0000   1.0  0  1
8              8       3    1  18.000000    7.2292   0.0  0  0
9              9       3    0  21.000000   24.1500   1.0  0  1
10            10       3    0  32.000000    7.8958   0.0  0  1
11            11       1    0  46.000000   26.0000   0.0  0  1
12            12       1    1  23.000000   82.2667   1.0  0  1
13            13       2    0  63.000000   26.0000   1.0  0  1
14            14       1    1  47.000000   61.1750   1.0  0  1
15            15       2    1  24.000000   27.7208   1.0  0  0
16            16       2    0  35.000000   12.3500   0.0  1  0
17            17       3    0  21.000000    7.2250   0.0  0  0
18            18       3    1  27.000000    7.9250   1.0  0  1
19            19       3    1  45.000000    7.2250   0.0  0  0
20            20       1    0  55.000000   59.4000   1.0  0  0
21            21       3    0   9.000000    3.1708   1.0  0  1
22            22       1    1  54.666667   31.6833   0.0  0  1
23            23       1    0  21.000000   61.3792   1.0  0  0
24            24       1    1  48.000000  262.3750   0.0  0  0
25            25       3    0  50.000000   14.5000   1.0  0  1
26            26       1    1  22.000000   61.9792   1.0  0  0
27            27       3    0  22.500000    7.2250   0.0  0  0
28            28       1    0  41.000000   30.5000   0.0  0  1
29            29       3    0  25.666667   21.6792   1.0  0  0
..           ...     ...  ...        ...       ...   ... .. ..
388          388       3    0  21.000000    7.7500   0.0  1  0
389          389       3    0   6.000000   21.0750   0.0  0  1
390          390       1    0  23.000000   93.5000   0.0  0  1
391          391       1    1  51.000000   39.4000   1.0  0  1
392          392       3    0  13.000000   20.2500   1.0  0  1
393          393       2    0  47.000000   10.5000   0.0  0  1
394          394       3    0  29.000000   22.0250   0.0  0  1
395          395       1    1  18.000000   60.0000   1.0  0  1
396          396       3    0  24.000000    7.2500   0.0  1  0
397          397       1    1  48.000000   79.2000   1.0  0  0
398          398       3    0  22.000000    7.7750   0.0  0  1
399          399       3    0  31.000000    7.7333   0.0  1  0
400          400       1    1  30.000000  164.8667   0.0  0  1
401          401       2    0  38.000000   21.0000   1.0  0  1
402          402       1    1  22.000000   59.4000   1.0  0  0
403          403       1    0  17.000000   47.1000   0.0  0  1
404          404       1    0  43.000000   27.7208   1.0  0  0
405          405       2    0  20.000000   13.8625   0.0  0  0
406          406       2    0  23.000000   10.5000   1.0  0  1
407          407       1    0  50.000000  211.5000   1.0  0  0
408          408       3    1  17.666667    7.7208   0.0  1  0
409          409       3    1   3.000000   13.7750   1.0  0  1
410          410       3    1  17.666667    7.7500   0.0  1  0
411          411       1    1  37.000000   90.0000   1.0  1  0
412          412       3    1  28.000000    7.7750   0.0  0  1
413          413       3    0  32.000000    8.0500   0.0  0  1
414          414       1    1  39.000000  108.9000   0.0  0  0
415          415       3    0  38.500000    7.2500   0.0  0  1
416          416       3    0  32.000000    8.0500   0.0  0  1
417          417       3    0   5.666667   22.3583   1.0  0  0

[418 rows x 8 columns]

In [13]:
test = datatest.drop('PassengerId', axis =1)
test

     Pclass  Sex        Age      Fare  Size  Q  S
0         3    0  34.500000    7.8292   0.0  1  0
1         3    1  47.000000    7.0000   1.0  0  1
2         2    0  62.000000    9.6875   0.0  1  0
3         3    0  27.000000    8.6625   0.0  0  1
4         3    1  22.000000   12.2875   1.0  0  1
5         3    0  14.000000    9.2250   0.0  0  1
6         3    1  30.000000    7.6292   0.0  1  0
7         2    0  26.000000   29.0000   1.0  0  1
8         3    1  18.000000    7.2292   0.0  0  0
9         3    0  21.000000   24.1500   1.0  0  1
10        3    0  32.000000    7.8958   0.0  0  1
11        1    0  46.000000   26.0000   0.0  0  1
12        1    1  23.000000   82.2667   1.0  0  1
13        2    0  63.000000   26.0000   1.0  0  1
14        1    1  47.000000   61.1750   1.0  0  1
15        2    1  24.000000   27.7208   1.0  0  0
16        2    0  35.000000   12.3500   0.0  1  0
17        3    0  21.000000    7.2250   0.0  0  0
18        3    1  27.000000    7.9250   1.0  0  1
19        3    1  45.000000    7.2250   0.0  0  0
20        1    0  55.000000   59.4000   1.0  0  0
21        3    0   9.000000    3.1708   1.0  0  1
22        1    1  54.666667   31.6833   0.0  0  1
23        1    0  21.000000   61.3792   1.0  0  0
24        1    1  48.000000  262.3750   0.0  0  0
25        3    0  50.000000   14.5000   1.0  0  1
26        1    1  22.000000   61.9792   1.0  0  0
27        3    0  22.500000    7.2250   0.0  0  0
28        1    0  41.000000   30.5000   0.0  0  1
29        3    0  25.666667   21.6792   1.0  0  0
..      ...  ...        ...       ...   ... .. ..
388       3    0  21.000000    7.7500   0.0  1  0
389       3    0   6.000000   21.0750   0.0  0  1
390       1    0  23.000000   93.5000   0.0  0  1
391       1    1  51.000000   39.4000   1.0  0  1
392       3    0  13.000000   20.2500   1.0  0  1
393       2    0  47.000000   10.5000   0.0  0  1
394       3    0  29.000000   22.0250   0.0  0  1
395       1    1  18.000000   60.0000   1.0  0  1
396       3    0  24.000000    7.2500   0.0  1  0
397       1    1  48.000000   79.2000   1.0  0  0
398       3    0  22.000000    7.7750   0.0  0  1
399       3    0  31.000000    7.7333   0.0  1  0
400       1    1  30.000000  164.8667   0.0  0  1
401       2    0  38.000000   21.0000   1.0  0  1
402       1    1  22.000000   59.4000   1.0  0  0
403       1    0  17.000000   47.1000   0.0  0  1
404       1    0  43.000000   27.7208   1.0  0  0
405       2    0  20.000000   13.8625   0.0  0  0
406       2    0  23.000000   10.5000   1.0  0  1
407       1    0  50.000000  211.5000   1.0  0  0
408       3    1  17.666667    7.7208   0.0  1  0
409       3    1   3.000000   13.7750   1.0  0  1
410       3    1  17.666667    7.7500   0.0  1  0
411       1    1  37.000000   90.0000   1.0  1  0
412       3    1  28.000000    7.7750   0.0  0  1
413       3    0  32.000000    8.0500   0.0  0  1
414       1    1  39.000000  108.9000   0.0  0  0
415       3    0  38.500000    7.2500   0.0  0  1
416       3    0  32.000000    8.0500   0.0  0  1
417       3    0   5.666667   22.3583   1.0  0  0

[418 rows x 7 columns]

In [14]:
results = pd.DataFrame(bestmodel.predict(test))
results

     0
0    0
1    0
2    0
3    0
4    1
5    0
6    0
7    0
8    1
9    0
10   0
11   0
12   1
13   0
14   1
15   1
16   0
17   1
18   0
19   1
20   0
21   1
22   1
23   1
24   1
25   0
26   1
27   1
28   1
29   0
..  ..
388  0
389  0
390  0
391  1
392  0
393  0
394  0
395  1
396  0
397  1
398  0
399  0
400  1
401  0
402  1
403  0
404  0
405  1
406  0
407  0
408  1
409  1
410  1
411  1
412  0
413  0
414  1
415  0
416  0
417  1

[418 rows x 1 columns]

In [26]:
result=pd.DataFrame()
result['PassengerId'] = rawtest['PassengerId']
result['Survived'] = results[0]
result

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         0
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         1
18           910         0
19           911         1
20           912         0
21           913         1
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         1
28           920         1
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         1
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [27]:
result.to_csv('result.csv',header = True, sep = ',', encoding = 'utf-8', index = False)